<div class="container-fluid">
    <div class="container">
        <div class="popular-brands">
            <p>Popular Brands</p>
        </div>

        <div class=".find-out-more-about">
            <p>Find out more about the world's top food brands are available all over the world today.</p>
        </div>

        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-6 left">
                    <img src="../../../../assets/Bitmap.jpeg" class="card-img" alt="...">
                </div>
                <div class="col-md-6 right">
                    <div class="card-body">
                        <div class="card-title">
                            <div class="row">
                                <div class="col-2.5 photo">
                                    <img src="../../../../assets/Oval6.jpeg">
                                </div>
                                <div class="col-9.5 brand-name">
                                    <p class="kfc">KFC</p>
                                    <p class="latin-american-bake">Latin American, Bakery</p>
                                </div>
                            </div>
                        </div>

                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row naming">
            <div class="col-md-6 content float-left">
                <p class="all-brands">All Brands <i class="fas fa-angle-right" style="color: #F67E03;"></i></p>
            </div>
            <div class="col text-right">
                <p class="pager">

                    <a href="#" class="previous"><i class="fa fa-angle-left"
                            style="font-size:35px;color: black;"></i></a>
                    <a href="#" class="next"><i class="fa fa-angle-right" style="font-size:35px;color: black;"></i></a>
                </p>
            </div>
        </div>
    </div>
</div>