<div class="container-fluid">
    <section class="container header">
        <div class="row text">
            <div class="col-md-8">
                <div class="paragraph">
                    <p class="review">Reviews</p>
                    <div class="right">
                        <p class="show">Show:</p>
                        <p class="recent">Recent <i class="fa fa-long-arrow-down"></i></p>
                    </div>
                </div>
                <div class="card rating" *ngFor="let item of reviewRating; index as i">
                    <div class="profile">
                        <div class="profilepic">
                            <img class="shadow-lg rounded-circle" [src]="item.imageurl" alt="user profile"
                                onerror="this.onerror=null; this.src='../../../assets/profile/user-profile3.jpeg'">
                        </div>
                        <div class="details">
                            <span class="username">{{ item.name }}</span> <br>
                            <span class="reviewrating">{{ item.review }} reviews, {{ item.rating }} ratings</span><br>
                            <img src="../../../assets/Rating 4.png" alt="rating 4" />
                        </div>
                    </div>

                    <div class="card-body">
                        <p class="card-text">{{ item.comment }}</p>
                    </div>
                    <div class="card-footer footer">
                        <div class="date">{{ item.date | date }}</div>
                        <div class="like">
                            <div (click)="onClick(item)">
                                <i class="fas fa-thumbs-up" [ngStyle]="{'color': item.likeIconColor}">
                                    <span class="likes">{{ item.like }}</span></i>
                            </div>
                        </div>
                    </div>
                    <div class="row reviewImage" *ngIf="item.reviewImage">
                        <div *ngFor="let photo of item.reviewImage; index as i">
                            <img class="review" [src]="photo" alt="revieImage1" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card side">
                    <h5 class="card-title">Rate your experience</h5>
                    <div class="foodTab">
                        <span class="food">Food</span>
                        <div class="row ratingFood">
                            <div *ngFor="let i of arrayFood;let in =index">
                                <i class="fa fa-star iconFood" (click)="onClickItemFood(in)"
                                    [ngClass]="{selected:in <= selectedFoodRate}"> {{i}}</i>
                            </div>
                        </div><br>

                        <div class="line"></div>
                        <div class="save" *ngIf="foodSelected">
                            <img src="../../../assets/icn_check.png" alt="saved" />
                            <span class="saved">saved</span>
                        </div>
                    </div>
                    <div class="serviceTab">
                        <span class="food">Service</span>
                        <div class="row ratingService">
                            <div *ngFor="let i of arrayService;let j =index">
                                <i class="fa fa-star iconService" (click)="onClickItemService(j)"
                                    [ngClass]="{select:j <= selectedServiceRate}"> {{i}}</i>
                            </div>
                        </div><br>
                        <div class="line"></div>
                        <div class="save" *ngIf="serviceSelected">
                            <img src="../../../assets/icn_check.png" alt="saved" />
                            <span class="saved">saved</span>
                        </div>
                    </div>
                    <div class="md-form input-text">
                        <input mdbInput type="text" [(ngModel)]="review.comment" placeholder="Start writing your review"
                            id="form1" name="comment" class="form-control">
                        <label for="form1" class="">Write a review</label>
                    </div>

                    <div class="addimage">
                        <span class="addimage" (click)="selectImage()">+ Add image</span>
                    </div>
                    <div class="chooseImage" *ngIf="imageFlag">
                        <input type="file" multiple (change)="detectFiles($event)">
                        <div *ngFor="let url of urls">
                            <img [src]="url" class="rounded mb-3">
                            <input type="hidden" [(ngModel)]="review.reviewImage" name="reviewImage" value="url">
                        </div>
                    </div>
                    <button type="button" class="submit" (click)="saveReview()">Submit</button>
                </div>
            </div>
        </div>

    </section>
</div>