<div class="container-fluid">
    <div class="container">
        <div class="row description">
            <div class="col-md-12 header">
                <p>Description</p>
            </div>
            <div class="col-md-12 content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc imperdiet ante at risus mollis, ut
                    rutrum arcu venenatis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
                    inceptos himenaeos. Etiam nec erat suscipit, pretium quam eget, condimentum enim.
                </p>
            </div>
        </div>

        <div class="row align-items-start justify-content-between line2">
            <div class="col-xs-6 col-sm-3">
                <div class="col header">
                    <p>Cuisines</p>
                </div>
                <div class="content">
                    <p>
                        Indian, Pakistani, Kebab, Mexican, Mordovian, Mughal, Native American, Nepalese, New Mexican
                    </p>
                </div>
            </div>

            <div class="col-xs-6 col-sm-auto">
                <div class="col header">
                    <p>Average meal cost</p>
                </div>
                <div class="content">
                    <p style="text-transform: uppercase;">
                        AED70 for two (approx)
                    </p>
                </div>
            </div>

            <div class="col-xs-6 col-sm-auto">
                <div class="col header">
                    <p>Accepted Payment</p>
                </div>
                <div class="content">
                    <p>
                        Cash and Cards accepeted
                    </p>
                </div>
            </div>

            <div class="col-xs-6 col-sm-auto">
                <div class="col header">
                    <p>Phone</p>
                </div>
                <div class="content">
                    <p>
                        0824 4024999
                        <br>
                        0824 3456790
                    </p>
                </div>
            </div>

            <div class="col-xs-6 col-sm-auto" style="border: none;">
                <div class="col header">
                    <p>Address</p>
                </div>
                <div class="content">
                    <p>
                        Shiekh Zayed Road, Dubai, UAE
                    </p>
                </div>
            </div>
        </div>

        <div class="row justify-content-between line3">
            <div class="col-md-5 timings">
                <div class="col header">
                    <p>Opening Hours</p>
                </div>
                <div class="content">
                    <div class="card">
                        <div class="card-body">
                            <div class="line">
                                <p class="card-text date">Today, 25 March 2018 <b class="open">OPEN</b> </p>
                                <p class="card-text time1">10:00:00 AM - 03:00:00 PM</p>
                                <p class="card-text time2">05:30:00 PM - 11:00:00 PM</p>
                                <p class="card-text planned-off">Planned off: 03:00 PM - 05:30 PM (Ramadan)</p>
                            </div>
                            <div class="col">
                                <!-- <div ngbDropdown class="work-hour-block">
                                    <button class="btn work-hour-details" id="dropdownBasic1" ngbDropdownToggle>Work
                                        hours for next 7 days</button>
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                        <button ngbDropdownItem>Action - 1</button>
                                        <button ngbDropdownItem>Another Action</button>
                                        <button ngbDropdownItem>Something else is here</button>
                                    </div>
                                </div> -->
                                <a class="btn work-hour-block" data-toggle="collapse" href="#multiCollapseExample1" id="headingOne"
                                    role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
                                    Work hours for next 7 days<i class="fas fa-chevron-down"
                                        style="margin-left: 5px; color: #F5A623;"></i>
                                </a>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="collapse multi-collapse" id="multiCollapseExample1"
                                        aria-labelledby="headingOne">
                                        <div class="card card-body">
                                            <div class="line">
                                                <p class="card-text date">Today, 25 March 2018 <b class="open">OPEN</b>
                                                </p>
                                                <p class="card-text time1">10:00:00 AM - 03:00:00 PM</p>
                                                <p class="card-text time2">05:30:00 PM - 11:00:00 PM</p>
                                            </div>
                                            <div class="line">
                                                <p class="card-text date">Thursday, 26 March 2018<b
                                                        class="open">OPEN</b> </p>
                                                <p class="card-text time1">10:00:00 AM - 11:00:00 PM</p>
                                            </div>
                                            <div class="line">
                                                <p class="card-text date">Friday, 27 March 2018<b
                                                        class="closed">CLOSE</b> </p>
                                            </div>
                                            <div class="line">
                                                <p class="card-text date">Saturday, 28 March 2018<b
                                                        class="open">OPEN</b> </p>
                                                <p class="card-text time1">10:00:00 AM - 01:00:00 PM</p>
                                            </div>
                                            <div class="line">
                                                <p class="card-text date">Sunday, 29 March 2018<b class="open">OPEN</b>
                                                </p>
                                                <p class="card-text time1">10:00:00 AM - 01:00:00 PM</p>
                                                <p class="card-text planned-off">Planned off: 01:00 PM - 05:30 PM (Local
                                                    Holiday)</p>
                                            </div>
                                            <div class="line">
                                                <p class="card-text date">Monday, 24 March 2018<b class="open">OPEN</b>
                                                </p>
                                                <p class="card-text time1">10:00:00 AM - 01:00:00 PM</p>
                                            </div>
                                            <div class="line">
                                                <p class="card-text date">Tuesday, 25 March 2018<b class="open">OPEN</b>
                                                </p>
                                                <p class="card-text time1">10:00:00 AM - 03:00:00 PM</p>
                                                <p class="card-text time1">05:30:00 PM - 11:00:00 PM</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 map">
                <div class="col header">
                    <p>Get Direction</p>
                </div>
                <div class="content">
                    <div class="card">
                        <div class="mapouter">
                            <div class="gmap_canvas">
                                <iframe id="gmap_canvas" style="width: 100%; height: 100%;"
                                    src="https://maps.google.com/maps?q=2880%20Broadway,%20New%20York&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
                                    href="https://fmovies2.org"></a>
                                <style>
                                    .mapouter {
                                        position: relative;
                                        text-align: right;
                                        /* height: 500px;
                                        width: 600px; */
                                    }

                                    .gmap_canvas {
                                        overflow: hidden;
                                        background: none !important;
                                        /* height: 500px;
                                        width: 600px; */
                                    }
                                </style>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>