<div class="container-fluid">
  <!-- <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-3 p-2 border align-self-center">
        <div class="input-group md-form form-sm form-2 pl-0" style="background-color: white;">
          <span class="input-group-text search-icon" id="basic-text1">
            <i class="fa fa-map-pin" aria-hidden="true"></i>
          </span>
          <input class="form-control my-0 py-1 search-box" type="text" placeholder="Location" aria-label="Search">
          <span class="input-group-text search-icon" id="basic-text1">
            <img src="../../../assets/icn_gps_indicator.jpeg">
          </span>

        </div>
      </div>

      <div class="col-md-5 p-2 align-self-center" style="margin-right: 3px;">
        <div class="input-group md-form form-sm form-2 pl-0" style="background-color: white;">
          <input class="form-control my-0 py-1" type="text" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <span class="input-group-text search-icon" id="basic-text1">
              <i class="fa fa-search" aria-hidden="true"></i>
            </span>
          </div>
        </div>
      </div>

      <div class="col-md-0.5 align-self-center">
        <img src="../../../assets/now_button@2x.jpeg" height="50rem" data-toggle="modal" data-target="#scheduleModal">
      </div>
    </div>
    <app-schedule></app-schedule>
  </div> -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-9">
        <p>Delivery ASAP</p>
        <div class="row justify-content-center">
          <div class="col-md-4">          
            <div class="input-group">
              <span class="input-group-text search-icon" id="basic-text1">
                <i class="fa fa-map-pin" aria-hidden="true"></i>
              </span>
              <input class="form-control search-box" type="text" placeholder="Location" aria-label="Search">
              <span class="input-group-text search-icon" id="basic-text1">
                <img src="../../../assets/icn_gps_indicator.jpeg">
              </span>
            </div>
          </div>

          <div class="col-md-7">
            <div class="input-group">
              <input class="form-control" type="text" placeholder="Search" aria-label="Search">
              <div class="input-group-append">
                <span class="input-group-text search-icon" id="basic-text1">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-0.5">
            <img src="../../../assets/now-btn.jpeg" height="37rem" data-toggle="modal" data-target="#scheduleModal">
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-schedule></app-schedule>
</div>