<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col">
        <p>Delivery ASAP</p>
        <div class="row">
          <div class="col-md-4">
            <div class="input-group">
              <span class="input-group-text search-icon" id="basic-text1">
                <i class="fa fa-map-pin" aria-hidden="true"></i>
              </span>
              <input class="form-control search-box" type="text" placeholder="Location" aria-label="Search">
              <span class="input-group-text search-icon" id="basic-text1">
                <img src="../../../assets/icn_gps_indicator.jpeg">
              </span>
            </div>
          </div>

          <div class="col-md-7">
            <div class="input-group">
              <input class="form-control" type="text" placeholder="Search" aria-label="Search">
              <div class="input-group-append">
                <span class="input-group-text search-icon" id="basic-text1">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-1">
            <img src="../../../assets/now-btn.jpeg" height="37rem" data-toggle="modal" data-target="#scheduleModal">
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-schedule></app-schedule>
</div>