@import '../../../../src/styles.scss';
@import '../../../../src/styles-variables.scss';

.container-fluid{
    background-color: #E3E6F0;
    
    .container{
        text-align: left;
        .row{          
            font-family: "Open Sans";
            font-size: 14px;
            font-weight: bold;

            div{
                margin-right: 5%;
            }

        }
    }
}