<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Launch demo modal
  </button> -->
  
  <!-- Modal -->
  <div class="modal fade" id="scheduleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title w-100 text-center">Schedule</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            Busy at work now, Schedule it for later!
          </div>
          <div>
            <div class="md-form">
              <form class="form-inline">
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control select-date" placeholder="Select date"
                           name="dp" [(ngModel)]="model" ngbDatepicker [dayTemplate]="customDay" [markDisabled]="isDisabled" #d="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn calendar" (click)="d.toggle()" type="button" style="color:#F67E03">Change</button>
                    </div>
                  </div>
                </div>
              </form>
              <ng-template #customDay let-date let-currentMonth="currentMonth" let-selected="selected" let-disabled="disabled" let-focused="focused">
                <span class="custom-day" [class.weekend]="isWeekend(date)" [class.focused]="focused"
                      [class.bg-primary]="selected" [class.hidden]="date.month !== currentMonth" [class.text-muted]="disabled">
                  {{ date.day }}
                </span>
              </ng-template>
              <!-- <input placeholder="Selected date" type="text" id="date-picker-example" class="form-control datepicker"> -->
              <!-- <label for="date-picker-example">Try me...</label> -->
            </div>  

            
            <div class="md-form">
              <form class="form-inline">
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control select-date" placeholder="Select Time"
                           name="dp" [(ngModel)]="model" ngbDatepicker [dayTemplate]="customDay" [markDisabled]="isDisabled" #d="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn calendar" (click)="d.toggle()" type="button" style="color:#F67E03">Change</button>
                    </div>
                  </div>
                </div>
              </form>
              <ng-template #customDay let-date let-currentMonth="currentMonth" let-selected="selected" let-disabled="disabled" let-focused="focused">
                <span class="custom-day" [class.weekend]="isWeekend(date)" [class.focused]="focused"
                      [class.bg-primary]="selected" [class.hidden]="date.month !== currentMonth" [class.text-muted]="disabled">
                  {{ date.day }}
                </span>
              </ng-template>
              <!-- <input placeholder="Selected time" type="text" id="input_starttime" class="form-control timepicker">
              <label for="input_starttime">Light version, 12hours</label> -->
            </div>
          </div>

          <div class="row d-flex align-items-center justify-content-center schedule" >
            <button  type="button" class="btn btn-sm" data-toggle="button" aria-pressed="false" autocomplete="off">
              SCHEDULE DATE & TIME
            </button>
          </div>
        </div>
        
      </div>
    </div>
  </div>