$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$orangeGradientBackground: linear-gradient(138.33deg, #F3698E 0%, #FEB456 100%);

$header-shadow: 0 10px 12px 0 rgba(155, 148, 148, 0.14);
$color-white: #FFFFFF;
