<div class="container-fluid">
    <section class="container">
        <div class="row text">
            <div class="col-md-8" style="margin-top:3.5%;">
                <div class="row form-inline d-flex md-form form-sm mt-0 search-bar" style="background-color: white;margin-left: 0.3%;margin-right: 0.3%;">
                    <i class="fas fa-search" aria-hidden="true" style="margin-left: 20px; color: #6F6F6F;"></i>
                    <!-- <img src="../../../assets/icn_search_home copy.jpeg" style="background-color:white"> -->
                    <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search an item"
                        aria-label="Search">
                </div>

                <div class="heading">
                    <p>Recommended (3)</p>
                </div>

                <div class="card recommended" *ngFor="let item of recommendedList">
                    <div class="row no-gutters">
                        <div class="col-md-3 photo" *ngIf="item.imageUrl">
                            <img [src]="item.imageUrl" width="100%" height="140rem" alt="Meal" class="dish">
                            <img src="https://img.icons8.com/color/23/000000/non-vegetarian-food-symbol.png" class="dish-type">
                        </div>

                        <div class="col">
                            <div class="card-body">
                                <p class="card-title" *ngIf="!item.imageUrl"><img src="../../../assets/vegIcon.jpeg" style="margin-right: 5px;">{{ item.title }}</p>
                                
                                <p class="card-title" *ngIf="item.imageUrl">{{ item.title }}</p>
                                <div class="best-seller" style="float: right;">
                                    <img src='../../../assets/Best-seller.jpeg'>
                                </div>
                                <br>
                                <p class="price">{{ item.price }}</p>
                                <br>
                                <p class="customizable" *ngIf="item.customizable">{{ item.customizable }}</p>
                                <br *ngIf="item.customizable">
                                <div class="row">
                                    <div class="col-9 left">
                                        <p class="description">{{ item.description }}</p>
                                    </div>

                                    <div class="stickers right">
                                        <div class="row already-in-cart">
                                            <p class="in-cart">{{ item.inCart }}</p>
                                        </div>
                                        <div class="add-to-cart">
                                            <button type="button" *ngIf="item.inCart" class="btn-add">ADD AGAIN</button>
                                            <button type="button" *ngIf="!item.inCart" class="btn-add" (click) = "addRecommendedToCart(item)">{{item.addButtonText}}</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="heading">
                    <p>Appetizers (3)</p>
                </div>
                <div class="card recommended" *ngFor="let item of appetizerList">
                    <div class="row no-gutters">
                        <div class="col-md-3 photo" *ngIf="item.imageUrl">
                            <img [src]="item.imageUrl" width="100%" height="140rem" alt="Meal" class="dish">
                            <img src="https://img.icons8.com/color/25/000000/non-vegetarian-food-symbol.png" class="dish-type">
                        </div>
                        <div class="col">
                            <div class="card-body">
                                <p class="card-title">{{ item.title }}</p>
                                <div class="best-seller" style="float: right;">
                                    <img src='../../../assets/Best-seller.jpeg'>
                                </div>
                                <br>
                                <p class="price">{{ item.price }}</p>
                                <br>
                                <p class="customizable">{{ item.customizable }}</p>
                                <br>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="description">{{ item.description }}</p>
                                    </div>

                                    <div class="stickers">
                                        <div class="add-to-cart">
                                            <button type="button"
                                                class="btn btn-add rounded-corners-gradient-borders" (click) = "addAppetizerToCart(item)">{{item.addButtonText}}</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="heading">
                    <p>Soups (4)</p>
                </div>
                <div class="card recommended" *ngFor="let item of soupList">
                    <div class="row no-gutters">
                        <div class="col-md-3 photo" *ngIf="item.imageUrl">
                            <img [src]="item.imageUrl" width="100%" height="140rem" alt="Meal" class="dish">
                            <img src="https://img.icons8.com/color/25/000000/non-vegetarian-food-symbol.png" class="dish-type">
                        </div>
                        <div class="col">
                            <div class="card-body">
                                <p class="card-title">{{ item.title }}</p>
                                <div class="best-seller" style="float: right;">
                                    <img src='../../../assets/Best-seller.jpeg'>
                                </div>
                                <br>
                                <p class="price">{{ item.price }}</p>
                                <br>
                                <p class="customizable">{{ item.customizable }}</p>
                                <br>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="description">{{ item.description }}</p>
                                    </div>

                                    <div class="stickers">
                                        <div class="add-to-cart">
                                            <button type="button"
                                                class="btn btn-add rounded-corners-gradient-borders" (click) = "addSoupToCart(item)">{{item.addButtonText}}</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="col-md-4">
                <div class="card side">
                    <span class="card-title card-header">
                        My Order
                        <span class="clear-cart" (click)="clearCart()">Clear cart</span>
                    </span>
                    <ul class="list-group list-group-flush">
                        <!-- <li class="list-group-item">
                            <diV>
                                <span class="dish-title">
                                    <img src="../../../assets/nonVegIcon.jpeg" />
                                    Chili Cheese Meal
                                </span>
                                <span class="button">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button type="button" class="btn decrement"><i
                                                class="fas fa-minus" (click) = "decrementItemCount()"></i></button>
                                        <button type="button" class="btn number">{{count}}</button>
                                        <button type="button" class="btn increment" (click) = "incrementItemCount()"><i class="fas fa-plus"
                                                style="color:#F67E03"></i></button>
                                    </div>
                                    <div class="price-bold">
                                        AED54.00
                                    </div>
                                </span>
                                <span class="details">
                                    <p class="price">AED27.00</p>
                                    <br>
                                    <span class="add-on">
                                        Add On : Avacado, Seasoned Grilled Chicken, Grilled Salmon
                                    </span>
                                </span>
                                <div class="customeize-dropdown">
                                    <a class="btn btn-collapse" data-toggle="collapse" href="#collapseExample2"
                                        role="button" aria-expanded="false" aria-controls="collapseExample">
                                        Customize <i class="fas fa-angle-down" style="color: #F57C00;"></i>
                                    </a>
                                    <div class="remove" style="float: right;">Remove</div>
                                    <div class="collapse" id="collapseExample2">
                                        <div class="card card-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                            richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes
                                            anderson cred nesciunt sapiente ea proident.
                                        </div>
                                    </div>
                                </div>
                            </diV>
                        </li> -->

                        <li class="list-group-item" *ngFor="let item of cart; let i = index">
                            <diV>
                                <span class="dish-title">
                                    <img src="../../../assets/nonVegIcon.jpeg" />
                                    {{item.title}}
                                </span>
                                <span class="button">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button type="button" class="btn decrement"><i
                                                class="fas fa-minus" (click) = "decrementItemCount(item)"></i></button>
                                        <button type="button" class="btn number">{{item.count}}</button>
                                        <button type="button" class="btn increment" (click) = "incrementItemCount(item)"><i class="fas fa-plus"
                                                style="color:#F67E03"></i></button>
                                    </div>
                                    <div class="price-bold">
                                        {{item.price}}
                                    </div>
                                </span>
                                <span class="details">
                                    <p class="price">{{item.price}}</p>
                                    <br>
                                    <span class="add-on">
                                        Add On : Avacado, Seasoned Grilled Chicken, Grilled Salmon
                                    </span>
                                </span>
                                <div class="customeize-dropdown">
                                    <a class="btn btn-collapse" data-toggle="collapse" href="#collapseExample2"
                                        role="button" aria-expanded="false" aria-controls="collapseExample">
                                        Customize <i class="fas fa-angle-down" style="color: #F57C00;"></i>
                                    </a>
                                    <div class="remove" style="float: right;" (click) = "remove(item)">Remove</div>
                                    <div class="collapse" id="collapseExample2">
                                        <div class="card card-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                            richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes
                                            anderson cred nesciunt sapiente ea proident.
                                        </div>
                                    </div>
                                </div>
                            </diV>
                        </li>

                        <!-- <li class="list-group-item">
                            <diV>
                                <span class="dish-title">
                                    <img src="../../../assets/vegIcon.jpeg" />
                                    Chili Cheese Meal
                                </span>
                                <span class="button">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button type="button" class="btn decrement"><i
                                                class="fas fa-minus"></i></button>
                                        <button type="button" class="btn number">2</button>
                                        <button type="button" class="btn increment"><i class="fas fa-plus"
                                                style="color:#F67E03"></i></button>
                                    </div>
                                    <div class="price-bold">
                                        AED54.00
                                    </div>
                                </span>
                                <span class="details">
                                    <p class="price">AED27.00</p>

                                </span>
                                <div class="customeize-dropdown">
                                    <a class="btn btn-collapse" data-toggle="collapse" href="#collapseExample"
                                        role="button" aria-expanded="false" aria-controls="collapseExample">
                                        Customize <i class="fas fa-angle-down" style="color: #F57C00;"></i>
                                    </a>
                                    <br>
                                    <div class="remove" style="float: right;">Remove</div>
                                    <div class="collapse" id="collapseExample">
                                        <div class="card card-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                            richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes
                                            anderson cred nesciunt sapiente ea proident.
                                        </div>
                                    </div>
                                </div>
                            </diV>
                        </li> -->

                        <!-- <li class="list-group-item">
                            <diV>
                                <span class="dish-title">
                                    <img src="../../../assets/nonVegIcon.jpeg" />
                                    Chili Cheese Meal
                                </span>
                                <span class="button">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button type="button" class="btn decrement"><i
                                                class="fas fa-minus"></i></button>
                                        <button type="button" class="btn number">2</button>
                                        <button type="button" class="btn increment"><i class="fas fa-plus"
                                                style="color:#F67E03"></i></button>
                                    </div>
                                    <div class="price-bold">
                                        AED54.00
                                    </div>
                                </span>
                                <span class="details">
                                    <p class="price">AED27.00</p>
                                    <br>
                                    <span class="add-on">
                                        Quantity : 1
                                    </span>
                                </span>
                                <div class="customeize-dropdown">
                                    <a class="btn btn-collapse" data-toggle="collapse" href="#collapseExample3"
                                        role="button" aria-expanded="false" aria-controls="collapseExample">
                                        Customize <i class="fas fa-angle-down" style="color: #F57C00;"></i>
                                    </a>
                                    <div class="remove" style="float: right;">Remove</div>
                                    <div class="collapse" id="collapseExample3">
                                        <div class="card card-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                            richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes
                                            anderson cred nesciunt sapiente ea proident.
                                        </div>
                                    </div>
                                </div>
                            </diV>
                        </li> -->

                        <li class="list-group-item">
                            <div class="card">
                                <div class="card-header" id="headingOne" style="background-color: white;">
                                    <div class="to-pay">
                                        <p >To Pay </p>
                                    </div>
                                    <div style="float: right;"><a class="btn" data-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample1">
                                        AED85.76 <i class="fas fa-angle-down" style="color: #F57C00;"></i>
                                      </a></div>
                                </div>
                                <div class="collapse" id="collapseExample5">
                                    <div class="card card-body card-body-to-pay">
                                      <div>
                                          <span class="left">Items total</span>
                                          <span class="right">AED118.00</span>
                                      </div>
                                      <div>
                                        <span class="left">Fee/ charges</span>
                                        <span class="right">AED10.00</span>
                                    </div>
                                    <div>
                                        <span class="left">Discount</span>
                                        <span class="right">AED42.24</span>
                                    </div>
                                    </div>
                                  </div>
                            </div>

                        </li>
                    </ul>

                    <div class="md-form input-text">
                        <input mdbInput type="text" placeholder="Mention it here…" id="form1" class="form-control"
                            >
                        <label for="form1" class="">Cooking instructions?</label>
                    </div>
                    <button type="button" class="submit">PROCEED TO CHECKOUT <i class="fas fa-angle-right"></i></button>
                </div>
            </div>
        </div>
    </section>
</div>
